marketing/n8n-workflows/phish-campaign-sender.json
{
  "name": "PalisadeOne — Phishing Campaign Sender",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "phish-send",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-receive",
      "name": "Receive Campaign",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [250, 300],
      "webhookId": "phish-send"
    },
    {
      "parameters": {
        "jsCode": "// Parse the campaign data and prepare individual emails\nconst campaign = $input.first().json.body || $input.first().json;\n\nconst templateId = campaign.templateId;\nconst employees = campaign.employees || [];\nconst campaignId = campaign.id;\nconst client = campaign.client || 'Company';\nconst senderName = campaign.senderName || 'Security Alert';\nconst senderEmail = campaign.senderEmail || 'alert@security-notice.com';\nconst landing = campaign.landing || 'microsoft';\nconst schedule = campaign.schedule || 'now';\n\n// Base URLs for tracking\nconst baseUrl = 'http://soc.palisadeone.com:5678/webhook';\nconst trainingUrl = 'https://palisadeone.com/phish-training.html';\n\n// Map landing page types to their webhook paths\nconst landingPaths = {\n  'microsoft': '/phish-landing-microsoft',\n  'google': '/phish-landing-google',\n  'generic': '/phish-landing-generic',\n  'none': '/phish-click-only'\n};\n\nconst output = employees.map((emp, index) => {\n  // Build unique tracking URL\n  const clickUrl = `${baseUrl}${landingPaths[landing] || landingPaths['none']}?uid=${emp.uid}&cid=${campaignId}`;\n  const openTrackUrl = `${baseUrl}/phish-open?uid=${emp.uid}&cid=${campaignId}`;\n  \n  // Calculate send delay based on schedule\n  let delayMs = 0;\n  if (schedule === 'stagger-5') delayMs = index * 5 * 60 * 1000;\n  else if (schedule === 'stagger-15') delayMs = index * 15 * 60 * 1000;\n  else if (schedule === 'stagger-60') delayMs = index * 60 * 60 * 1000;\n  else if (schedule === 'random-24h') delayMs = Math.floor(Math.random() * 24 * 60 * 60 * 1000);\n\n  return {\n    json: {\n      to: emp.email,\n      name: emp.name || emp.email.split('@')[0],\n      uid: emp.uid,\n      campaignId,\n      client,\n      senderName,\n      senderEmail,\n      templateId,\n      clickUrl,\n      openTrackUrl,\n      trainingUrl: `${trainingUrl}?uid=${emp.uid}&cid=${campaignId}`,\n      landing,\n      delayMs,\n      subject: campaign.subject || ''\n    }\n  };\n});\n\nreturn output;"
      },
      "id": "prepare-emails",
      "name": "Prepare Emails",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [500, 300]
    },
    {
      "parameters": {
        "jsCode": "// Build the actual email HTML from the template\nconst item = $input.first().json;\n\n// Template library (simplified versions — full HTML in dashboard.html)\nconst templates = {\n  'm365-password': {\n    subject: 'Your password expires in 24 hours',\n    body: `<div style=\"font-family:Segoe UI,sans-serif;max-width:600px;margin:0 auto\">\n<div style=\"background:#0078d4;padding:16px 24px;color:white;font-size:18px;font-weight:600\">Microsoft 365</div>\n<div style=\"padding:24px;border:1px solid #ddd;border-top:none\">\n<p>Your Microsoft 365 password will expire in <strong>24 hours</strong>.</p>\n<p>To avoid losing access to your email and files, please update your password immediately.</p>\n<p style=\"text-align:center;margin:28px 0\"><a href=\"${item.clickUrl}\" style=\"background:#0078d4;color:white;padding:12px 32px;text-decoration:none;border-radius:4px;font-weight:600\">Update Password Now</a></p>\n<p style=\"color:#666;font-size:13px\">If you did not request this change, please disregard this email.</p>\n<p style=\"color:#999;font-size:12px\">Microsoft 365 Security Team</p>\n</div></div>`\n  },\n  'salary-adjustment': {\n    subject: 'Salary Adjustment Notice — Confidential',\n    body: `<div style=\"font-family:Arial,sans-serif;max-width:600px;margin:0 auto;padding:20px\">\n<p>Dear ${item.name},</p>\n<p>Following the annual compensation review, your salary has been adjusted effective next pay period.</p>\n<p>To view your updated compensation details, please log in to the HR portal:</p>\n<p style=\"text-align:center;margin:24px 0\"><a href=\"${item.clickUrl}\" style=\"background:#2e7d32;color:white;padding:12px 32px;text-decoration:none;border-radius:4px;font-weight:600\">View Compensation Update</a></p>\n<p style=\"color:#999;font-size:13px\"><em>This information is confidential.</em></p>\n<p>Human Resources<br>${item.client}</p></div>`\n  }\n};\n\n// Use template if available, otherwise build a generic one\nconst tpl = templates[item.templateId];\nconst subject = item.subject || (tpl ? tpl.subject : 'Action Required');\nlet body = tpl ? tpl.body : `<p>Please click <a href=\"${item.clickUrl}\">here</a> to take action.</p>`;\n\n// Add invisible tracking pixel for open detection\nbody += `<img src=\"${item.openTrackUrl}\" width=\"1\" height=\"1\" style=\"display:none\" />`;\n\nreturn [{\n  json: {\n    ...item,\n    subject,\n    htmlBody: body\n  }\n}];"
      },
      "id": "build-email",
      "name": "Build Email HTML",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [750, 300],
      "notes": "Builds the email HTML from template. Add more templates here or customize per campaign."
    },
    {
      "parameters": {
        "sendTo": "={{ $json.to }}",
        "subject": "={{ $json.subject }}",
        "message": "={{ $json.htmlBody }}",
        "options": {
          "replyTo": "={{ $json.senderEmail }}"
        }
      },
      "id": "send-email",
      "name": "Send Phishing Email",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [1000, 300],
      "credentials": {
        "smtp": {
          "id": "",
          "name": "SMTP — SET THIS UP"
        }
      },
      "notes": "Configure SMTP credentials. Use Microsoft 365 SMTP, SendGrid, or a dedicated sending domain."
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ success: true, emailsQueued: $json.length || 1 }) }}"
      },
      "id": "respond",
      "name": "Respond OK",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [500, 500]
    }
  ],
  "connections": {
    "Receive Campaign": {
      "main": [[
        { "node": "Prepare Emails", "type": "main", "index": 0 },
        { "node": "Respond OK", "type": "main", "index": 0 }
      ]]
    },
    "Prepare Emails": {
      "main": [[ { "node": "Build Email HTML", "type": "main", "index": 0 } ]]
    },
    "Build Email HTML": {
      "main": [[ { "node": "Send Phishing Email", "type": "main", "index": 0 } ]]
    }
  },
  "settings": { "executionOrder": "v1" },
  "tags": [{ "name": "Phishing Simulation" }]
}
