marketing/n8n-workflows/phish-tracker.json
{
  "name": "PalisadeOne — Phishing Click & Credential Tracker",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "GET",
        "path": "phish-open",
        "responseMode": "lastNode",
        "options": {}
      },
      "id": "open-tracker",
      "name": "Open Tracker (Pixel)",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [250, 100],
      "webhookId": "phish-open",
      "notes": "Triggered by invisible tracking pixel in email. Logs that user opened the email."
    },
    {
      "parameters": {
        "httpMethod": "GET",
        "path": "phish-landing-microsoft",
        "responseMode": "lastNode",
        "options": {}
      },
      "id": "click-microsoft",
      "name": "Click — Microsoft Landing",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [250, 300],
      "webhookId": "phish-landing-microsoft"
    },
    {
      "parameters": {
        "httpMethod": "GET",
        "path": "phish-landing-google",
        "responseMode": "lastNode",
        "options": {}
      },
      "id": "click-google",
      "name": "Click — Google Landing",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [250, 500],
      "webhookId": "phish-landing-google"
    },
    {
      "parameters": {
        "httpMethod": "GET",
        "path": "phish-click-only",
        "responseMode": "lastNode",
        "options": {}
      },
      "id": "click-only",
      "name": "Click — No Landing",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [250, 700],
      "webhookId": "phish-click-only"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "phish-submit",
        "responseMode": "lastNode",
        "options": {}
      },
      "id": "submit-tracker",
      "name": "Credential Submit Tracker",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [250, 900],
      "webhookId": "phish-submit"
    },
    {
      "parameters": {
        "jsCode": "// Log the open event\nconst query = $input.first().json.query || {};\nconst event = {\n  type: 'open',\n  uid: query.uid || 'unknown',\n  campaignId: query.cid || 'unknown',\n  timestamp: new Date().toISOString(),\n  ip: $input.first().json.headers?.['x-forwarded-for'] || 'unknown',\n  userAgent: $input.first().json.headers?.['user-agent'] || 'unknown'\n};\n\n// Store in workflow static data\nconst staticData = $getWorkflowStaticData('global');\nif (!staticData.events) staticData.events = [];\nstaticData.events.push(event);\n// Keep last 10000 events\nif (staticData.events.length > 10000) staticData.events = staticData.events.slice(-10000);\n\n// Return a 1x1 transparent pixel\nreturn [{ json: { headers: { 'Content-Type': 'image/gif' }, body: 'R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7' } }];"
      },
      "id": "log-open",
      "name": "Log Open",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [500, 100]
    },
    {
      "parameters": {
        "jsCode": "// Log the click event and serve the Microsoft fake login page\nconst query = $input.first().json.query || {};\nconst event = {\n  type: 'click',\n  uid: query.uid || 'unknown',\n  campaignId: query.cid || 'unknown',\n  timestamp: new Date().toISOString(),\n  ip: $input.first().json.headers?.['x-forwarded-for'] || 'unknown',\n  userAgent: $input.first().json.headers?.['user-agent'] || 'unknown'\n};\n\nconst staticData = $getWorkflowStaticData('global');\nif (!staticData.events) staticData.events = [];\nstaticData.events.push(event);\nif (staticData.events.length > 10000) staticData.events = staticData.events.slice(-10000);\n\n// Serve a Microsoft-style login page\nconst html = `<!DOCTYPE html><html><head><title>Sign in to your account</title>\n<style>body{font-family:Segoe UI,sans-serif;background:#f2f2f2;margin:0;display:flex;align-items:center;justify-content:center;min-height:100vh}\n.box{background:white;width:440px;padding:44px;box-shadow:0 2px 6px rgba(0,0,0,0.2)}\n.logo{font-size:20px;font-weight:600;margin-bottom:24px;display:flex;align-items:center;gap:8px}\n.logo img{width:24px;height:24px}input{width:100%;padding:10px 12px;border:1px solid #666;font-size:15px;margin-bottom:16px;box-sizing:border-box;font-family:inherit}\ninput:focus{border-color:#0067b8;outline:none}button{background:#0067b8;color:white;border:none;padding:10px 20px;font-size:15px;cursor:pointer;width:100%;font-family:inherit}\nbutton:hover{background:#005a9e}.forgot{color:#0067b8;font-size:13px;text-decoration:none;display:block;margin-top:16px}.subtitle{font-size:13px;color:#666;margin-bottom:24px}</style></head>\n<body><div class=\"box\">\n<div class=\"logo\"><img src=\"https://img.icons8.com/color/24/microsoft.png\"> Microsoft</div>\n<div style=\"font-size:24px;font-weight:300;margin-bottom:8px\">Sign in</div>\n<div class=\"subtitle\">to continue to Microsoft 365</div>\n<form method=\"POST\" action=\"http://soc.palisadeone.com:5678/webhook/phish-submit?uid=${query.uid || ''}&cid=${query.cid || ''}\">\n<input type=\"email\" name=\"email\" placeholder=\"Email, phone, or Skype\" required autofocus/>\n<input type=\"password\" name=\"password\" placeholder=\"Password\" required/>\n<button type=\"submit\">Sign in</button>\n</form>\n<a href=\"#\" class=\"forgot\">Forgot password?</a>\n<div style=\"margin-top:24px;font-size:12px;color:#999\">No account? <a href=\"#\" style=\"color:#0067b8\">Create one!</a></div>\n</div></body></html>`;\n\nreturn [{ json: { headers: { 'Content-Type': 'text/html' }, body: html } }];"
      },
      "id": "serve-microsoft",
      "name": "Serve Microsoft Login",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [500, 300]
    },
    {
      "parameters": {
        "jsCode": "// Log the click event and serve a Google-style login page\nconst query = $input.first().json.query || {};\nconst event = {\n  type: 'click',\n  uid: query.uid || 'unknown',\n  campaignId: query.cid || 'unknown',\n  timestamp: new Date().toISOString(),\n  ip: $input.first().json.headers?.['x-forwarded-for'] || 'unknown',\n  userAgent: $input.first().json.headers?.['user-agent'] || 'unknown'\n};\n\nconst staticData = $getWorkflowStaticData('global');\nif (!staticData.events) staticData.events = [];\nstaticData.events.push(event);\n\nconst html = `<!DOCTYPE html><html><head><title>Sign in - Google Accounts</title>\n<style>body{font-family:Google Sans,Roboto,sans-serif;background:#f0f4f9;margin:0;display:flex;align-items:center;justify-content:center;min-height:100vh}\n.box{background:white;width:450px;padding:48px 40px;border-radius:8px;box-shadow:0 1px 3px rgba(0,0,0,0.15);text-align:center}\n.glogo{font-size:32px;margin-bottom:8px}h1{font-size:24px;font-weight:400;margin-bottom:4px;color:#202124}\n.sub{font-size:16px;color:#5f6368;margin-bottom:32px}input{width:100%;padding:14px 16px;border:1px solid #dadce0;border-radius:4px;font-size:16px;margin-bottom:16px;box-sizing:border-box;font-family:inherit}\ninput:focus{border-color:#1a73e8;outline:none;box-shadow:0 0 0 2px rgba(26,115,232,0.2)}\nbutton{background:#1a73e8;color:white;border:none;padding:12px 24px;font-size:15px;border-radius:4px;cursor:pointer;font-weight:500;width:auto;float:right}\nbutton:hover{background:#1557b0}.forgot{color:#1a73e8;font-size:14px;text-decoration:none;float:left;margin-top:8px}</style></head>\n<body><div class=\"box\">\n<div class=\"glogo\">G</div>\n<h1>Sign in</h1>\n<div class=\"sub\">to continue to Google Workspace</div>\n<form method=\"POST\" action=\"http://soc.palisadeone.com:5678/webhook/phish-submit?uid=${query.uid || ''}&cid=${query.cid || ''}\">\n<input type=\"email\" name=\"email\" placeholder=\"Email\" required autofocus/>\n<input type=\"password\" name=\"password\" placeholder=\"Password\" required/>\n<div style=\"overflow:auto;margin-top:12px\"><a href=\"#\" class=\"forgot\">Forgot password?</a><button type=\"submit\">Next</button></div>\n</form></div></body></html>`;\n\nreturn [{ json: { headers: { 'Content-Type': 'text/html' }, body: html } }];"
      },
      "id": "serve-google",
      "name": "Serve Google Login",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [500, 500]
    },
    {
      "parameters": {
        "jsCode": "// Log click and redirect to training page (no credential capture)\nconst query = $input.first().json.query || {};\nconst event = {\n  type: 'click',\n  uid: query.uid || 'unknown',\n  campaignId: query.cid || 'unknown',\n  timestamp: new Date().toISOString()\n};\n\nconst staticData = $getWorkflowStaticData('global');\nif (!staticData.events) staticData.events = [];\nstaticData.events.push(event);\n\nconst trainingUrl = `https://palisadeone.com/phish-training.html?uid=${query.uid || ''}&cid=${query.cid || ''}`;\n\nreturn [{ json: { headers: { 'Location': trainingUrl, 'Content-Type': 'text/html' }, statusCode: 302, body: `<html><body>Redirecting... <a href=\"${trainingUrl}\">Click here</a></body></html>` } }];"
      },
      "id": "redirect-training",
      "name": "Redirect to Training",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [500, 700]
    },
    {
      "parameters": {
        "jsCode": "// Log credential submission and redirect to training page\nconst query = $input.first().json.query || {};\nconst body = $input.first().json.body || {};\n\nconst event = {\n  type: 'submit',\n  uid: query.uid || 'unknown',\n  campaignId: query.cid || 'unknown',\n  timestamp: new Date().toISOString(),\n  // We log THAT they submitted, but NOT the actual credentials (ethical best practice)\n  emailEntered: body.email ? 'yes' : 'no',\n  passwordEntered: body.password ? 'yes' : 'no'\n};\n\nconst staticData = $getWorkflowStaticData('global');\nif (!staticData.events) staticData.events = [];\nstaticData.events.push(event);\n\nconst trainingUrl = `https://palisadeone.com/phish-training.html?uid=${query.uid || ''}&cid=${query.cid || ''}`;\n\nreturn [{ json: { headers: { 'Location': trainingUrl, 'Content-Type': 'text/html' }, statusCode: 302, body: `<html><body>Redirecting to training... <a href=\"${trainingUrl}\">Click here</a></body></html>` } }];"
      },
      "id": "log-submit",
      "name": "Log Submission & Redirect",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [500, 900]
    },
    {
      "parameters": {
        "httpMethod": "GET",
        "path": "phish-results",
        "responseMode": "lastNode",
        "options": {}
      },
      "id": "results-api",
      "name": "Results API (Dashboard Polls)",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [250, 1100],
      "webhookId": "phish-results"
    },
    {
      "parameters": {
        "jsCode": "// Return all tracked events for the dashboard to consume\nconst staticData = $getWorkflowStaticData('global');\nconst events = staticData.events || [];\n\n// Return events and clear them (dashboard will merge into its local state)\nstaticData.events = [];\n\nreturn [{ json: events }];"
      },
      "id": "return-results",
      "name": "Return & Clear Events",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [500, 1100]
    }
  ],
  "connections": {
    "Open Tracker (Pixel)": { "main": [[ { "node": "Log Open", "type": "main", "index": 0 } ]] },
    "Click — Microsoft Landing": { "main": [[ { "node": "Serve Microsoft Login", "type": "main", "index": 0 } ]] },
    "Click — Google Landing": { "main": [[ { "node": "Serve Google Login", "type": "main", "index": 0 } ]] },
    "Click — No Landing": { "main": [[ { "node": "Redirect to Training", "type": "main", "index": 0 } ]] },
    "Credential Submit Tracker": { "main": [[ { "node": "Log Submission & Redirect", "type": "main", "index": 0 } ]] },
    "Results API (Dashboard Polls)": { "main": [[ { "node": "Return & Clear Events", "type": "main", "index": 0 } ]] }
  },
  "settings": { "executionOrder": "v1" },
  "tags": [{ "name": "Phishing Simulation" }]
}
